dm-control
dm-robotics-moma
dm-robotics-manipulation
tensorflow
dm-reverb-nightly
opencv-python >= 3.4.0
typing-extensions >= 3.7.4

numpy
gym
torch
jax
optax
flax
tqdm
scipy
gdown
imageio
tensorboardX
setuptools
pybullet
h5py
PyYAML

matplotlib
stable-baselines3
